<div>
    <h1>Tutorial Angular</h1>

    <h3>Routers</h3>
    <nav>
      <a href="/">Home</a>
      |
      <a href="/user">User</a>
    </nav>

    <h3>Router link</h3>
    <a routerLink="/">Home router link</a>
    |
    <a routerLink="/user">User router link</a>

    <router-outlet />

    <app-user></app-user>

    @defer (on viewport) {
    <app-comments></app-comments>
    } @placeholder {
        <p>Futuros comentarios</p>
    } @loading {
        <p>Cargando comentarios...</p>
    }
</div>