<section>
    <h3>User component (with control flow)</h3>
    @if (isLoggedIn){
        <p>Welcome, {{ username }}</p>
        <div class="image-container">
            <img
                (click)="greet()"
                alt="photo"
                src="https://github.com/moslisnas.png"
            />
        </div>
    } @else {
        <p>¡Log in!</p>
        <button (click)="isLoggedIn = true">Log In</button>
    }
    
    <h2>Events</h2>
    <app-games (addFavoriteEvent)="getFavorite($event)" username="{{ username }}">
    </app-games>
    @if(favGame !== ''){
        <p>Your favorite game is {{ favGame }}</p>
    }
</section>